body{
    overflow: auto;
    margin: 0 ;
    background: #40684c2f;
    border-image-width: ;
}

header {
    display: flex;
    flex-direction: row;
}

img{
    width: 192px;
    height: 192px;
}
h1{
    color: red;
    text-align: center;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
text-align: center;
padding: 1px;
border: 0px;
margin: 0px;
}


.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: px;
}


ul {
    display: inline-block;
}

footer>p{
    font-style: italic;
    background-color: rgba(210, 105, 30, 0.541);
}